# API Configuration
VITE_API_URL_SERVER=http://localhost:8080

# Development Settings
VITE_ENABLE_MSW=true
VITE_LOG_LEVEL=info

# Authentication Configuration
VITE_AUTH_DOMAIN_AUTH=http://localhost:8080
VITE_AUTH_DOMAIN_APP=http://localhost:5173
VITE_AUTH_REDIRECT_AFTER_LOGIN=/dashboard
VITE_AUTH_REDIRECT_AFTER_LOGOUT=/
VITE_AUTH_REDIRECT_AFTER_SIGNUP=/verify-email